.container{
    width: 550px;
	height: 600px;
	background-color: var(--cream);
	overflow: hidden;
    border-radius: 15px;
	box-shadow: 5px 20px 50px var(--black);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: none;
    font-style: var(--font);
    font-size: large;
}
.container p{
    padding-top: 5px;
	margin-left: 30px;
}
.list-container{
    width: 500px;
<<<<<<< Updated upstream
	height: 450px;
=======
	height: 520px;
>>>>>>> Stashed changes
	background-color: white;
	overflow: hidden;
    border-radius: 15px;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: none;
	overflow-y: scroll;
}
.recipe{
	display: flex;
	flex-direction: row;
	border-radius: 15px;
	width: 500px;
	position: relative;
	align-items: center;
}
.recipe-data{
	flex-direction: column;
	align-items: left;
	max-width: 360px;
}
.recipe-data li{
	list-style: none;
}
.image{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 15px;
}
.data{
	font-size: small;
}
.title{
	font-weight: 600;
}
.favourites{
	padding: 0;
	margin: 0;
}
.trashButton{
	width: 40px;
	height: 40px;
	margin: 10px;
	background: none;
	color: black;
}
.trashButtonDiv{
	right: 0;
	position: absolute;
}
.trashButton:hover{
	background-color: rgb(154, 154, 154);
}
.fav{
	border-radius: 15px;
}
.fav:hover{
	background-color: rgb(188, 188, 188);
}