.div-favRecipes{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;         
}

.container-recipes{
    width: 50%;
	height: 75%;
	background-color: var(--cream);
	overflow: hidden;
    border-radius: 20px;
	box-shadow: 5px 20px 50px var(--black);
	position: absolute;
	margin-left: 22%;
	outline: none;
    font-style: var(--font);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-recipes p{
    padding-top: 5px;
	margin-left: 30px;
}

.list-container{
    width: 45vw;
	height: 65vh;
	margin-bottom: 3%;
	background-color: white;
	overflow: hidden;
    border-radius: 15px;
	outline: none;
	overflow-y: scroll;
}

.recipe{
	display: flex;
	flex-direction: row;
	border-radius: 15px;
	
	position: relative;
	align-items: center;
}

.recipe-data{
	flex-direction: column;
	align-items: left;
	max-width: 360px;
}

.recipe-data li{
	list-style: none;
}

.image{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 15px;
}

.favouriteTitle{
	text-align: center;
}
.data{
	font-size: small;
}

.title{
	font-weight: 600;
}

.favourites{
	padding: 0;
	margin: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.trashButton{
	display: flex;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: none;
    color: black;
    justify-content: center;
    align-items: center;
}

.trashButtonDiv{
	right: 0;
	position: absolute;
}

.trashButton:hover{
	background-color: rgb(154, 154, 154);
}

.fav{
	border-radius: 15px;
	width: 100%;
}

.fav:hover{
	background-color: rgb(188, 188, 188);
}

.separador{
	width: 90%;
	border-radius: 0;
	margin: 0;
	padding: 0;
	color:transparent;
	border: none;
	border-top: 1px solid rgba(128, 128, 128, 0.648);
}

@media only screen and (max-width: 768px) {
	.container-recipes{
		width: 550px;
		height: 600px;
		background-color: var(--cream);
		overflow: hidden;
		border-radius: 15px;
		box-shadow: 5px 20px 50px var(--black);
		position: relative;
		margin-left: 5%;
		margin-right: 5%;
		outline: none;
		font-style: var(--font);
	}
    .div-favRecipes{
		width: 100%;
		
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;        
	}
    
	.list-container{
		width: 90%;
		height: 87%;
		background-color: white;
		overflow: hidden;
		border-radius: 15px;
		position: absolute;
		top: 54%;
		left: 50%;
		transform: translate(-50%, -50%);
		outline: none;
		overflow-y: scroll;
	}
	.fav{
		width: 100%;
	}
}
@media only screen and (max-width: 550px) {
	.recipe-data{
		max-width: 250px;
	}
}