form input{
	width: 60%;
	height: 18px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 0px auto;
	padding: 10px 15px;
	border: none;
	outline: none;
	border-radius: 50px;
}

form p{
	text-align: center;
}

button{
	width: 66%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background-color: var(--red);
	font-size: 1em;
	font-weight: bold;
	margin: 20px auto 0;
	outline: none;
	border: none;
	border-radius: 50px;
	transition: .2s ease-in;
	cursor: pointer;
}


button:hover{
	background: rgb(102, 24, 24);
}
