.container{
    width: 350px;
	height: 600px;
	background:var(--cream);
	overflow: hidden;
    border-radius: 10px;
	box-shadow: 5px 20px 50px var(--black);
}

.container#forgot_password {
	width: 500px;
	height: 200px;
	text-align: center;
	}

#chk{
	display: none;
}

.login_page{
	position: relative;
	width:100%;
	height: 100%;
}

label{
	color: var(--red);
	font-size: 2em;
    font-family: var(--font);
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
form input{
	width: 60%;
	height: 15px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 0px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 50px;
}
form p{
	text-align: center;
}
button{
	width: 66%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background-color: var(--red);
	font-size: 1em;
	font-weight: bold;
	margin: 20px auto 0;
	outline: none;
	border: none;
	border-radius: 50px;
	transition: .2s ease-in;
	cursor: pointer;
}


button#button_google {
	background-color: white;
	color: #000000;
	border:1px #333333 solid ;
	display: flex;
	align-items: center;
}

.label_google{
	margin-left: 5px;
	color: black;
	font-size: 1em;
	margin: 0 0 0 8px;
}

button:hover{
	background: rgb(102, 24, 24);
}
.register_page{
	height: 700px;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
	background-color: #b64926d4;
	border-radius: 10px;
}
.register_page label{
	color: white;
	transform: scale(.6);
}

#chk:checked ~ .register_page{
	transform: translateY(-650px);
    background: var(--cream);
}
#chk:checked ~ .register_page label{
	transform: scale(1);
	color: #000000;
    
}
#chk:checked ~ .login_page label{
	transform: scale(.6) translateY(-80px);
}

#chk:checked ~ .home{
    background-color: var(--red);
}
