

/*My kitchen*/
/********************/
.div-my_kitchen{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_kitchen{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    margin-left: 25%;
    padding-top: 70px;
    align-items: center;   
    max-width: 1200px;
}

.containers_myKitchen{
    white-space: nowrap;
    background-color: var(--cream);
    height: 600px;
    width: calc(85% / 3);
    border-radius: var(--radius_border);    
    box-shadow: var(--box_shawod);  
    margin: 5px;
    padding: 15px;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
}



/*My shopping List*/
/********************/

.Ingredient_Icon {
    background-color: rgb(236, 236, 236);
    margin: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*My my_favourite_recipes*/
/*****************************/

.containers_myKitchen:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    
}

.container_list {
    background-color: white;
    border-radius: var(--radius_border); 
    height:500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 2fr);
    overflow-y: auto;

    
}


/*container_list*/
#no_list {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#button_round {
    background-color: var(--green);
    height: 70px;
    width: 70px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

#button_round:hover{
    transform: rotate(180deg);
}

.recipe_pic_item {    
    max-height: 100%;
    margin:10px; 
    
}


.recipe_image{
    width: 70px;
    height: 70px;
    
    border-radius: 50%;
    background-position: center;
    background-size: cover; 
    position: relative;     
}


@media screen and (max-width: 1066px) {
    
    .containers_myKitchen{
        width:calc(85% /2);
    }
}

@media screen and (max-width: 769px) {
    .my_kitchen{
        margin-left:0px;
    }
}

@media screen and (max-width: 600px) {
    .containers_myKitchen{
        width: 100%;
    }
}





