@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --font: 'Poppins', sans-serif;
  --green: #468966;
  --cream: #FFF8D7;
  --red:#B64926;
  --black: #000000;
  --grey: #1d1d1d;
  --radius_border: 20px;
  --box_shawod: 10px 10px 20px rgb(181, 181, 181);
  
}

.App{
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: var(--font);
  margin: 0;
	padding: 0;
  background-image: url(../public/background_dark.png);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
	color: #000000;
	text-align: center;
}

button {
  width: 66%;
  height: 40px;
  justify-content: center;
  display: block;
  color: #fff;
  background-color: var(--red);
  font-size: 1em;
  font-weight: bold;
  margin: 20px auto 0;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: .2s ease-in;
  cursor: pointer;
}
button#green {
  width: 66%;
  height: 40px;
  justify-content: center;
  display: block;
  color: #fff;
  background-color: var(--green);
  font-size: 1em;
  font-weight: bold;
  margin: 10px auto 0;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: .2s ease-in;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
button#green:hover {
  background-color:#26573d;
}

.page_login{
  height: 100vh;
  width: 100%;
  background-color: var(--green);
  background-image: url(../public/background.png);
}
