@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --font: 'Poppins', sans-serif;
  --green: #468966;
  --cream: #FFF8D7;
  --red:#B64926;
  --black: #000000;
}

body {
  font-family: var(--font);
  background-color: var(--green);
  margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navegationLink{
  list-style: none;
  text-decoration: none;
  color: black
}

.navegationLink:hover{
  font-weight: bold;
}
