.div-Recipe{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.general-div {
    display: flex;  
    flex-direction: column; 
    margin-left: 25%;
    align-items: center;   
    height: 90%;
    width: 70%;
    background-color: var(--cream);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--box_shawod);
    font-style: var(--font);
}


.detail-title-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin-left: 100px;
}

.prepareButt-div {
    display: flex;
    width: 250px;
    margin-left: auto;
}

.detail-title{
    text-align: center;
    top: 0%;
    color: var(--green);
}

.prepareButt{
    margin: 0;
    margin-right: 20px;
    box-shadow: var(--box_shawod);
}

/*a partir d aqui, son els 3 elements de info que hi ha (foto, ingredients i descripcio)*/

.three-elements-div{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    column-gap: 35px;
}

.photo-ingredients-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    row-gap: 25px;
}


.foto-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    box-shadow: var(--box_shawod);

}

.detail-ingredients-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    box-shadow: var(--box_shawod);

}

.detail-description-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    box-shadow: var(--box_shawod);
}




@media only screen and (max-width: 768px) { 
    .general-div {
        width: 95%;
        margin-left: 0%;
    }
}



