.div-Recipe{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.general-div {
    display: flex;  
    flex-direction: column; 
    margin-left: 25%;
    align-items: center;   
    height: 90%;
    width: 70%;
    background-color: var(--cream);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--box_shawod);
    font-style: var(--font);
}
.fav-icon{
    margin-left: 5%;
}

.detail-title-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    /*margin-left: 100px;*/
    column-gap: 20px;
}

.fav-icon{
    color: var(--green);
}

.prepareButt-div {
    display: flex;
    width: 40%;
    /*margin-left: auto;*/
    justify-content: flex-end;
    margin-right: 25px;
}

.detail-title{
    /*text-align: center;*/
    top: 0%;
    color: var(--green);
    width: 40%;
}

.prepareButt{
    margin: 0;
    margin-right: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}

/*a partir d aqui, son els 3 elements de info que hi ha (foto, ingredients i descripcio)*/

.three-elements-div{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    column-gap: 35px;
}

.photo-ingredients-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    row-gap: 25px;
}


.foto-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
}

.detail-ingredients-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    overflow-y: scroll;
}
h4{
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
}
.detail-description-div{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;  
    overflow-y: scroll;  
}
.description{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: smaller;
}

.separator-ingredients{
    width: 95%;
}
.button-link{
    height: 30px;
    width: 60%;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: var(--green);
    font-size: 1em;
    font-weight: bold;
    margin: 10px auto 0;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    transition: .2s ease-in;
    cursor: pointer;
    box-shadow: 0;
}
.details p{
    font-weight: bold;
}
@media only screen and (max-width: 768px) { 
    .general-div {
        width: 95%;
        margin-left: 0%;
    }
}



