/******************recepit container***********************/


.receipt_container {
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: fixed;
    left: 25%;
    top: 10%;

    overflow-y: auto;
    height: calc(100vh - 20%);

    max-width: 850px;
    margin: 0 auto;
    justify-content: space-between;
}


/******************recepit resume***********************/
    
.Receipt {
    background-color: var(--cream);
    width: 400px; 
    
    margin-bottom: 20px;
    border-radius: 20px; 
    box-shadow: 10px 10px 20px rgb(181, 181, 181);
    flex: 0 1 calc(33% - 20px);;
}

.image_receipt {
    width: 100%;
    height: 150px;
    background-size: 100% ;
    border-radius: 20px 20px 0 0; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:inherit;
}

.content_recepit {
    margin: 25px ;
    
}

.content_recepit .title_recepit_resume{
    color: var(--red);
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid var(--red);
    position: relative;
    display: inline-block;
    margin: 0px;
    padding-bottom: 20px;
    width: 100%;
}

.details_preparation {
    display: flex;
    align-items:center;
}

.details_preparation table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.details_preparation table tr th {
    justify-content: center;
    align-items: center;
}

.icons_content_recepit {
    margin: 0 auto; 
    color: var(--grey);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;

}
.recepit_detail_button {
    background-color: var(--green);
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px var(--black);
    
}

.content_recepit h2{
   font-size: 20px;
   color : var(--red);
}

.content_recepit h4{
    margin : 10px;
}





