.search-ing-popup{
    background-color: var(--cream);
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exitButton{
    position: absolute;
    bottom: 25px;
}

.no-ingredients-searched{
    margin-top: 50%;
    text-align: center;
}